# rofi drun
bindsym $mod+d exec --no-startup-id "rofi -modi drun,run,window,filebrowser -show drun -sidebar-mode"
# rofi filebrowser
bindsym $mod+o exec --no-startup-id "rofi -modi drun,run,window,filebrowser -show filebrowser -sidebar-mode"
# rofi window
bindsym $mod+Shift+s exec --no-startup-id "rofi -modi drun,run,window,filebrowser -show window -sidebar-mode"
# rofi firefox tab
bindsym $mod+Shift+F2 exec --no-startup-id "zsh -ic ~/.scripts/firet"

# Para garantir que funcione, rodar:
# sudo ln -s /usr/local/texlive/2023/bin/x86_64-linux/texlua /usr/bin/texlua
# sudo ln -s /usr/local/texlive/2023/bin/x86_64-linux/texdoc /usr/bin/texdoc
bindsym $mod+t exec --no-startup-id "texdoc $(/bin/ls /usr/share/doc/texlive/latex/ | rofi -dmenu -p texdoc)"
# rofi bmenu
bindsym $mod+Shift+b exec --no-startup-id "zsh -ic bwmenu -c 20"
# rofi netctl
bindsym $mod+n exec --no-startup-id "zsh -ic ~/.scripts/rofi-network-manager/rofi-network-manager.sh"
# rofi printscreen
bindsym Print exec --no-startup-id "zsh -ic ~/.config/rofi/scripts/scrsh"
# rofi bluetooth
bindsym $mod+b exec --no-startup-id "zsh -ic bluetooth"
